<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <!--<add key="RabbitMQUri" value="rabbitmq://rabbitmqtst/" />
    <add key="RabbitMQUserName" value="admin" />
    <add key="RabbitMQPassword" value="*82NsnRmq19!" />
    <add key="OrderQueueName" value="lightmessagingcore.boilerplate.order" />-->

    <add key="RabbitMQUri" value="rabbitmq://rabbit@SERCANGENC-PC/" />
    <add key="RabbitMQUserName" value="admin" />
    <add key="RabbitMQPassword" value="admin" />
    <add key="OrderQueueName" value="lightmessagingcore.boilerplate.order" />
  </appSettings>
</configuration>